<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="721d5062-ac6e-41b4-aa0e-553d1c14fb68" Publisher="CN=mgoetz" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="721d5062-ac6e-41b4-aa0e-553d1c14fb68" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Dikkenek-WindowsPhone8.1</DisplayName>
    <PublisherDisplayName>mgoetz</PublisherDisplayName>
    <Logo>Assets\store\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Dikkenek_WindowsPhone8._1.App">
      <m3:VisualElements DisplayName="Dikkenek-WindowsPhone8.1" Square150x150Logo="Assets\store\Logo.png" Square44x44Logo="Assets\store\SmallLogo.png" Description="Dikkenek-WindowsPhone8.1" ForegroundText="light" BackgroundColor="transparent">
        <m3:DefaultTile Wide310x150Logo="Assets\store\WideLogo.png" Square71x71Logo="Assets\store\Square71x71Logo.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\store\SplashScreen.png" />
      </m3:VisualElements>
    </Application>
  </Applications>
</Package>